%br

/ %audio{id: 'song', src: 'audio/SexualHealingShort.mp3', hidden: true, autoplay: true}

- @blurbs.each do |b|
	.card
		.content
			%i.fa.fa-male
			%i.fa.fa-female
			%p
			= b.body
		♥
			
		%br	
		.text-right
	/ %div#fb-root
	/ 	:javascript
	/ 		$(function(d, s, id) {
	/ 		  var js, fjs = d.getElementsByTagName(s)[0];
	/ 		  if (d.getElementById(id)) return;
	/ 		  js = d.createElement(s); js.id = id;
	/ 		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	/ 		  fjs.parentNode.insertBefore(js, fjs);
	/ 			}(document, 'script', 'facebook-jssdk'));
	/ %a{href: "http://www.truluv.in"}
	/ 	%i.fb-share-button
			



